@import "../../node_modules/swiper/swiper-bundle.css";

.tabs-nav,
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.burger,
button {
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 0;
  cursor: pointer;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/poppins-v19-latin-700.woff") format("woff"), url("../fonts/poppins-v19-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/poppins-v19-latin-600.woff") format("woff"), url("../fonts/poppins-v19-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/poppins-v19-latin-500.woff") format("woff"), url("../fonts/poppins-v19-latin-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/poppins-v19-latin-regular.woff") format("woff"), url("../fonts/poppins-v19-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

.svg-font {
  display: inline-block;
  vertical-align: top;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.svg {
  display: inline-block;
  vertical-align: top;
  fill: currentColor;
}

.svg-ar_right {
  width: 22px;
  height: 12px;
}

.svg-ar_right_about {
  width: 22px;
  height: 12px;
}

.svg-arrow-bottom {
  width: 16px;
  height: 9px;
}

.svg-arrow-left {
  width: 22px;
  height: 12px;
}

.svg-arrow-right {
  width: 22px;
  height: 12px;
}

.svg-arrow-top {
  width: 16px;
  height: 9px;
}

.svg-burger {
  width: 20px;
  height: 14px;
}

.svg-close {
  width: 14px;
  height: 14px;
}

.svg-facebook {
  width: 32px;
  height: 32px;
}

.svg-instagram {
  width: 32px;
  height: 32px;
}

.svg-line {
  width: 22px;
  height: 12px;
}

.svg-logo {
  width: 78px;
  height: 39px;
}

.svg-logo-vid {
  width: 78px;
  height: 39px;
}

.svg-mail {
  width: 22px;
  height: 18px;
}

.svg-messenger {
  width: 32px;
  height: 32px;
}

.svg-phone {
  width: 20px;
  height: 20px;
}

.svg-play-main {
  width: 72px;
  height: 72px;
}

.svg-send {
  width: 149px;
  height: 150px;
}

.svg-telegram {
  width: 32px;
  height: 32px;
}

.svg-viber {
  width: 32px;
  height: 32px;
}

.svg-whatsapp {
  width: 32px;
  height: 32px;
}

.svg-youtube {
  width: 32px;
  height: 32px;
}

html {
  box-sizing: border-box;
  font: 16px/1.8 "Poppins", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f0ede6 inset;
  -webkit-text-fill-color: #4e4e4e !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  max-height: 1000000px;
}

body {
  color: #4e4e4e;
  background: #f0ede6;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.noscroll {
  overflow: hidden;
}

body.noscroll {
  overflow: visible;
  height: 100%;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
  margin-top: 78px;
  overflow: hidden;
}

.container {
  max-width: 1168px;
  padding: 0 20px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: 700;
  color: #121127;
  line-height: 140%;
}

h1,
.h1 {
  font-size: 32px;
  line-height: 1.2;
  margin: 0 10px 20px 10px;
}

h2,
.h2 {
  font-size: 24px;
  margin-bottom: 24px;
}

h3,
.h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

h4 {
  font-size: 24px;
  margin: 0;
  margin-bottom: 24px;
}

.h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #ddad96;
}

h5 {
  font-weight: 700;
  font-size: 16px;
  color: #121127;
  margin: 0;
  margin-bottom: 16px;
}

p {
  margin: 0 0 12px 0;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
}

a img {
  display: inline-block;
  vertical-align: top;
}

.mobile-el {
  display: block;
}

.desktop-el {
  display: none;
}

.section {
  margin-bottom: 80px;
}

.accent-section {
  background-color: #e3c8b7;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}

.accent-section h2,
.accent-section .h2 {
  color: #fff;
}

.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.alert {
  color: #ed3939;
}

.btn {
  transition: background-color 0.3s ease-in-out;
  background-color: #ddad96;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  height: 52px;
  width: 100%;
  max-width: 100%;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e3c8b7;
}

.btn.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.butns {
  display: flex;
  justify-content: space-between;
  width: 140px;
  height: 44px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddad96;
  height: 100%;
  width: 64px;
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out;
}

.arrow:hover {
  background-color: rgba(18, 17, 39, 0.04);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #f0ede6;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}

.left-header {
  display: flex;
  align-items: center;
  flex: 1;
}

.right-header {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 600;
}

.logo {
  margin-right: 67px;
}

.logo-img {
  display: inline-block;
  vertical-align: top;
}

.burger {
  transition: opacity 0.3s ease-in-out;
  padding: 4px;
  color: inherit;
}

.burger:hover {
  opacity: 0.6;
}

.burger .svg {
  vertical-align: middle;
}

.burger .svg-close {
  display: none;
}

.lock .burger .svg-close {
  display: block;
}

.lock .burger .svg-burger {
  display: none;
}

.header-content {
  flex: 1;
}

.lock .header-content {
  visibility: visible;
}

.header-nav {
  display: flex;
}

.menu {
  margin-bottom: 26px;
}

.menu-item {
  margin: 32px 0px;
  font-weight: 700;
  font-size: 28px;
  color: #121127;
}

.menu-item a {
  transition: color 0.3s ease-in-out;
  padding: 5px 0;
  white-space: nowrap;
}

.menu-item a:hover {
  color: #121127;
}

.contact {
  text-align: center;
  padding: 0 20px;
  width: 100%;
}

.contact-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-wrap .social {
  flex-direction: row;
  margin: 0;
  width: auto;
}

.cont-item {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-bottom: 28px;
}

.cont-item .row {
  display: flex;
  align-items: center;
}

.cont-item .row:first-child {
  margin-bottom: 28px;
}

.cont-item .row svg {
  margin-right: 13px;
}

.social-link {
  display: inline-block;
  vertical-align: top;
  margin-right: 24px;
  transition: opacity 0.3s ease-in-out;
}

.social-link:last-child {
  margin-right: 0;
}

.social-link:hover {
  opacity: 0.8;
}

.contact .social-link .svg {
  width: 42px;
  height: 42px;
}

.social {
  cursor: default;
  display: flex;
  width: auto;
}

.main-section {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.main-section .container {
  max-width: 1020px;
  position: relative;
  z-index: 1;
}

.main-section .video-container {
  max-width: 620px;
  margin: 0 auto;
}

.main-section .large-text {
  margin-bottom: 48px;
}

.img-decorate {
  display: none;
}

.about-us-section {
  padding-top: 0;
}

.about-us-section .container {
  padding: 0;
}

.about-us {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: space-between;
}

.about-us-photo {
  flex: 1 0 auto;
  width: 100%;
  height: 77vw;
  overflow: hidden;
}

.about-us-photo .img-about {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-us-text {
  flex: 1 1 auto;
  padding: 0 20px;
  margin-top: 158px;
  height: 100%;
  text-align: left;
}

.about-us-text p:last-child {
  margin-bottom: 0;
}

.h2-arrows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-left: 20px;
  position: absolute;
  top: 82vw;
  z-index: 3;
}

.h2-arrows h2 {
  margin-left: 0px;
}

.prices {
  margin-bottom: 40px;
}

.tabs-nav {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
}

.tabs-nav-item {
  cursor: pointer;
  height: 40px;
  white-space: nowrap;
  padding: 7px 20px;
  font-size: 14px;
  font-weight: 700;
  color: #121127;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 100px;
  background-color: #f0ede6;
  transition: background-color 0.3s, color 0.3s;
}

.tabs-nav-item:hover {
  color: #fff;
  background-color: #ddad96;
}

.tabs-nav-item.is-active {
  color: #fff;
  background: #ddad96;
}

.tab {
  display: none;
}

.is-active {
  display: block;
}

.tab-row {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column-reverse;
}

.price-text {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: space-between;
  width: 100%;
}

.cost {
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  color: #ddad96;
  margin-bottom: 6px;
}

.price-paragr {
  font-size: 16px;
  line-height: 180%;
  color: #121127;
  margin-bottom: 32px;
}

.logo-slider {
  display: flex;
  position: absolute;
  top: 32px;
  left: 32px;
  width: 77px;
  height: 37px;
  z-index: 2;
}

.swiper-price {
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 8px 20px rgba(18, 17, 39, 0.1);
}

.swiper-price-wrap {
  margin-bottom: 74px;
  position: relative;
}

.butns-pos {
  position: absolute;
  bottom: -64px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.video-name {
  position: absolute;
  padding: 0 16px;
  bottom: 16px;
  z-index: 1;
  color: white;
  font-size: 18px;
  font-weight: 700;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.need-other-format {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.left-column {
  margin-bottom: 32px;
}

.left-column p {
  font-size: 14px;
}

.left-column p span {
  font-weight: 700;
  color: #ddad96;
}

.right-column {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.right-column .in-right-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 12px;
}

.right-column .field {
  flex: 1 0 auto;
}

.right-column p {
  margin-bottom: 0;
  font-size: 12px;
  color: rgba(18, 17, 39, 0.48);
}

.right-column p .privacy {
  font-weight: 400;
  color: #121127;
}

.turnaround .container {
  max-width: 710px;
  margin: 0 auto;
  text-align: center;
}

.turnaround h2,
.turnaround .h2 {
  display: inline-block;
  margin-bottom: 12px;
}

.turnaround p {
  font-weight: 500;
  text-align: center;
  color: #f2f2f2;
  margin-bottom: 24px;
}

.turnaround p:last-child {
  padding: 0;
  font-size: 16px;
  margin-bottom: 0;
}

.why-us h2 {
  margin-bottom: 48px;
}

.why-us .img-wrap {
  margin-bottom: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0 -12px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.list .list-item {
  margin-bottom: 32px;
  padding: 0px 12px;
}

.counter {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.counter-item {
  width: 50%;
  padding: 0 12px;
  margin-bottom: 24px;
}

.counter-item p {
  font-size: 14px;
}

.counter-item:nth-child(even) {
  margin-right: 0;
}

.counter-item:nth-child(n+3) {
  margin-bottom: 0;
}

.counter-item .accent-text {
  position: relative;
  display: inline-block;
  color: #e3c8b7;
  font-weight: 700;
  margin-bottom: 28px;
  line-height: 140%;
  font-size: 32px;
}

.counter-item .accent-text::after {
  content: "";
  position: absolute;
  background: #ddad96;
  left: 0;
  bottom: -16px;
  width: 48px;
  height: 4px;
  border-radius: 4px;
}

.counter-item .item-name {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #121127;
  line-height: 180%;
}

.our-customers {
  position: relative;
}

.our-customers .container {
  position: relative;
}

.h2-butns {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.swiper-customers {
  width: 100%;
  overflow: hidden;
}

.customers-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.customers-item p {
  margin-bottom: 20px;
}

.customers-item .customer {
  display: flex;
  align-items: center;
}

.customers-item .customer-icon {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}

.customers-item .customer-text span {
  display: block;
  margin: 0;
  line-height: 180%;
  font-weight: 600;
}

.customers-item .customer-text .customer-name {
  font-size: 14px;
  color: #121127;
}

.customers-item .customer-text .source {
  font-size: 12px;
  color: rgba(78, 78, 78, 0.6);
}

.customers-title {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
}

.lets-start {
  position: relative;
  margin-bottom: 80px;
}

.lets-start:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 262px;
  background: #e3c8b7;
}

.lets-start .container {
  padding: 0;
}

.lets-start .img-wrap {
  height: 700px;
  position: absolute;
  top: 0px;
  right: 0;
  display: none;
  z-index: -1;
}

.lets-start-wrap {
  position: relative;
  z-index: 1;
  width: 100%;
}

.lets-start-wrap .form-contact-wrap {
  display: flex;
  flex-direction: column;
}

.lets-start-wrap h2 {
  color: #fff;
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
  padding: 0 20px;
}

.form-container {
  background: #f0ede6;
  padding: 40px 20px 0 20px;
  margin-bottom: 80px;
  box-shadow: none;
  line-height: 180%;
}

.form-container .form {
  position: relative;
}

.form-item {
  margin: 0 0 32px 0;
}

.form-item:nth-child(3) {
  margin: 0 0 20px 0;
}

.form-label {
  font-size: 14px;
  font-weight: 600;
  color: #121127;
  display: inline-block;
  margin-bottom: 8px;
}

.form-input {
  height: 52px;
  padding: 0 20px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #cecece;
  background: #f0ede6;
}

.form-input:focus {
  outline: none;
  border: 2px solid #e3c8b7;
}

.form-input::-moz-placeholder {
  font-size: 14px;
  color: rgba(18, 17, 39, 0.4);
}

.form-input:-ms-input-placeholder {
  font-size: 14px;
  color: rgba(18, 17, 39, 0.4);
}

.form-input::placeholder {
  font-size: 14px;
  color: rgba(18, 17, 39, 0.4);
}

textarea.form-input {
  overflow: auto;
  resize: vertical;
  min-height: 100px;
  background: #f0ede6;
  border: 1px solid #cecece;
  border-radius: 8px;
  padding: 10px 20px;
}

.options {
  display: flex;
  flex-wrap: wrap;
}

.options-item {
  margin: 0 12px 12px 0;
  position: relative;
}

.options-input {
  display: none;
}

.options-input:checked + .options-label {
  background: rgba(221, 173, 150, 0.15);
  color: #ddad96;
}

.options-input:checked + .options-label:before {
  border: none;
}

.options-input:checked + .options-label:after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  border: 2px solid rgba(221, 173, 150, 0.3);
  border-radius: 100px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: 10;
}

.options-label {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  position: relative;
  white-space: nowrap;
  padding: 9px 20px;
  background: #f0ede6;
  color: black;
  border-radius: 100px;
  z-index: 1;
  cursor: pointer;
}

.options-label:before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  border: solid 1px rgba(18, 17, 39, 0.12);
  border-radius: 100px;
  width: 100%;
  min-height: 100%;
  z-index: 10;
}

.contact-info-wrap {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.contact-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0px;
  position: static;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.questions .questions-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-right: 35px;
}

.questions .questions-item p {
  color: #121127;
  margin: 0;
  line-height: 140%;
}

.questions .container {
  text-align: center;
}

.questions .container h2 {
  margin-bottom: 32px;
  font-size: 24px;
}

.accordion {
  max-width: 936px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.accordion:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(18, 17, 39, 0.12);
}

.accordion-head {
  transition: all 0.9s ease;
  margin: 24px 0;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.accordion-head .img-ques {
  display: flex;
  margin-top: 5px;
}

.accordion-head .img-ques-item {
  height: 9px;
  transition: all 0.9s ease;
}

.accordion-head .img-ques-rotate .img-ques-item {
  transform-origin: 50% 50%;
  transform: rotate(180deg);
}

.accord-head-margin {
  margin-bottom: 24px;
}

.accordion-body {
  height: 0;
  padding-right: 46px;
  transition: all 0.9s ease;
  overflow: hidden;
  color: rgba(18, 17, 39, 0.56);
  text-align: left;
  font-size: 14px;
  line-height: 180%;
}

.accordion-body-open {
  margin-bottom: 24px;
}

.video-container {
  border-radius: 16px;
}

.video-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video-wrap .svg-play {
  transition: opacity 0.3s ease-in-out;
}

.video-wrap:hover .svg-play {
  opacity: 0.6;
}

.video-container .video-wrap .video-link .video-media {
  border-radius: 16px;
  filter: drop-shadow(0px 20px 80px rgba(0, 0, 0, 0.2));
  overflow: hidden;
}

.video-enabled {
  cursor: pointer;
}

.video-link {
  display: inline-block;
}

.video-media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 122px;
  height: 122px;
  padding: 0;
  border: none;
  transform: translate(-50%, -50%);
}

.video-button:focus {
  outline: none;
}

.video-button:focus .video-icon {
  fill: #ff0000;
  fill-opacity: 1;
}

.video-enabled .video-button {
  display: block;
}

.video-button .video-icon {
  fill: #212121;
  fill-opacity: 0.8;
}

.work-process .block {
  background-color: #f0ede6;
  color: #121127;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  line-height: 1.2;
  padding: 0 16px;
}

.work-process .block-text {
  position: relative;
  padding-left: 26px;
}

.work-process .block-text::before,
.work-process .block-text::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.work-process .block-text:before {
  width: 16px;
  height: 16px;
  left: 0;
  background-color: #ddad96;
}

.work-process .block-text:after {
  width: 6px;
  height: 6px;
  left: 5px;
  background-color: #f0ede6;
}

.work-process .month {
  width: 100%;
  font-weight: 600;
}

.schedule {
  font-size: 14px;
  position: relative;
  margin-bottom: 34px;
}

.days {
  color: #4e4e4e;
  position: absolute;
  top: 73px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.day {
  white-space: nowrap;
  text-align: center;
  position: relative;
  width: 8.33%;
}

.day::before {
  content: "";
  position: absolute;
  background-color: #f0ede6;
  top: 50%;
  left: 62px;
  right: 0;
  height: 1px;
}

.grid {
  padding: 50px 0 34px 62px;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.now {
  display: none;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
}

.popup.open {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
}

.popup-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup-content {
  text-align: center;
  background-color: #f0ede6;
  max-width: 800px;
  padding: 80px 40px 40px 40px;
  position: relative;
  border-radius: 20px;
}

.popup-content .close {
  position: absolute;
  padding: 10px;
  right: 30px;
  top: 30px;
}

.popup-text {
  margin-bottom: 40px;
}

.popup-text .main-text {
  font-size: 24px;
}

.field {
  position: relative;
}

.input-error-message {
  position: absolute;
  left: 0;
  bottom: -14px;
  font-size: 12px;
  line-height: 1;
  color: #ed3939;
}

.loading .submit-text {
  display: none;
}

.loader {
  display: none;
  width: 4px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  position: relative;
  left: 50%;
  transform: translateX(-38px);
  -webkit-animation: d1 0.8s infinite alternate linear;
          animation: d1 0.8s infinite alternate linear;
}

.loading .loader {
  display: block;
}

@-webkit-keyframes d1 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }

  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}

@keyframes d1 {
  50% {
    box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px;
  }

  100% {
    box-shadow: 19px 0 0 0, 38px 0 0 3px, 57px 0 0 7px;
  }
}

.footer {
  font-size: 14px;
  padding: 40px 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 245px;
  text-align: center;
}

.footer .container .social {
  width: auto;
}

.footer .container .social .social-link {
  margin-bottom: 0;
}

.rights {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .main {
    margin-top: 88px;
  }

  h1,
  .h1 {
    font-size: 56px;
  }

  h2,
  .h2 {
    font-size: 40px;
  }

  h3,
  .h3 {
    font-size: 32px;
  }

  h4 {
    margin-bottom: 24px;
  }

  .h3 {
    font-size: 44px;
  }

  .large-text {
    font-size: 20px;
  }

  .mobile-el {
    display: none;
  }

  .section {
    margin-bottom: 80px;
  }

  .btn {
    width: 164px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
  }

  .btn.md {
    height: 48px;
  }

  .btn.lg {
    height: 52px;
    font-size: 16px;
    width: auto;
    font-weight: 500;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 8px;
  }

  .btn.w-100 {
    width: 100%;
  }

  .butns {
    height: 48px;
    width: 156px;
  }

  .arrow {
    width: 72px;
  }

  .header .container {
    height: 88px;
  }

  .header-nav {
    visibility: visible;
    flex: 1;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    display: flex;
    padding: 0;
    margin: 0 -12px;
  }

  .menu-item {
    margin: 0 12px;
    font-weight: 500;
    font-size: 14px;
    color: #4e4e4e;
  }

  .contact {
    text-align: left;
    padding: 0;
  }

  .contact-wrap {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .contact-wrap .social {
    flex: 0 0 17%;
    margin: 0;
  }

  .cont-item {
    flex: 0 0 220px;
    margin-bottom: 22px;
  }

  .social-link {
    margin-right: 24px;
    margin-bottom: 22px;
  }

  .contact .social-link .svg {
    width: 32px;
    height: 32px;
  }

  .social {
    width: 189px;
    display: block;
  }

  .main-section {
    margin-top: 60px;
    margin-bottom: 160px;
  }

  .main-section .svg-play {
    width: 72px;
    height: 72px;
  }

  .main-section .large-text {
    margin-bottom: 76px;
  }

  .about-us-section {
    padding-top: 66px;
    padding-bottom: 66px;
  }

  .about-us-section .container {
    padding: 0 20px;
  }

  .about-us {
    flex-direction: row;
  }

  .about-us-photo {
    height: 228px;
    width: 164px;
    border-radius: 24px;
    margin-bottom: 0;
    padding: 0px;
  }

  .about-us-text {
    margin-top: 78px;
    margin-left: 24px;
    padding: 0;
  }

  .h2-arrows {
    top: 0px;
    right: 0;
    margin-left: 0;
    align-items: center;
    flex-direction: row;
    width: calc(100% - 164px - 24px);
  }

  .h2-arrows h2 {
    margin-bottom: 0;
  }

  .prices {
    margin-bottom: 104px;
  }

  .tabs-nav {
    margin-bottom: 46px;
  }

  .tab-row {
    flex-direction: row;
    align-items: flex-start;
  }

  .price-text {
    width: calc(37% - 24px);
    margin-right: 24px;
    padding-bottom: 30px;
  }

  .cost {
    font-size: 44px;
    margin-bottom: 20px;
  }

  .price-paragr {
    font-size: 20px;
  }

  .swiper-price-wrap {
    width: 63%;
    margin: 0;
  }

  .butns-pos {
    bottom: -72px;
  }

  .need-other-format {
    margin-bottom: 96px;
  }

  .left-column p {
    font-size: 16px;
  }

  .right-column .in-right-column {
    flex-direction: row;
  }

  .turnaround p {
    font-size: 20px;
  }

  .turnaround p:last-child {
    padding: 0 30px;
  }

  .list {
    flex-direction: row;
  }

  .list .list-item {
    width: 50%;
  }

  .counter-item p {
    font-size: 16px;
  }

  .counter-item .accent-text {
    font-size: 40px;
  }

  .our-customers h2 {
    margin-bottom: 0;
  }

  .h2-butns {
    margin-bottom: 68px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .customers-item p {
    margin-bottom: 32px;
  }

  .customers-title {
    margin-bottom: 32px;
  }

  .lets-start {
    margin-bottom: 107px;
  }

  .lets-start:after {
    height: 349px;
  }

  .lets-start .container {
    padding: 0 20px;
  }

  .lets-start-wrap {
    margin-bottom: 50px;
  }

  .lets-start-wrap h2 {
    margin-bottom: 60px;
    padding: 0;
  }

  .form-container {
    padding: 54px 48px;
    border-radius: 20px;
    box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.08);
  }

  .questions .container h2 {
    margin-bottom: 24px;
    font-size: 40px;
  }

  .accordion:after {
    background: rgba(78, 78, 78, 0.2);
  }

  .accordion-body {
    padding-right: 20px;
    font-size: 16px;
    color: #4e4e4e;
  }

  .work-process .month {
    margin-bottom: 24px;
  }

  .schedule {
    margin-bottom: 73px;
  }

  .days {
    flex-direction: row;
    justify-content: space-between;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .day::before {
    top: 46px;
    bottom: 0;
    left: 50%;
    width: 1px;
    right: auto;
    height: auto;
  }

  .grid {
    margin-top: 70px;
    padding-left: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(8, 1fr);
    -ms-grid-rows: auto 24px auto 24px auto 24px auto;
        grid-template-areas: "one one one . . seven seven seven" ". two two . . six six ." ". three three . five five . ." ". . four four four . . .";
    gap: 24px;
    position: relative;
    z-index: 1;
  }

  .one {
    margin-right: 15px;
  }

  .two {
    margin-left: -45px;
  }

  .three {
    margin-left: 20px;
    margin-right: -20px;
  }

  .four {
    margin-left: 20px;
    margin-right: -10px;
  }

  .five {
    margin-right: -30px;
  }

  .six {
    margin-left: -45px;
    margin-right: -35px;
  }

  .seven {
    margin-left: -10px;
  }

  .now {
    text-transform: uppercase;
    color: #4e4e4e;
    font-weight: 700;
    position: absolute;
    top: 114px;
    bottom: -34px;
    left: calc(4.165vw - 30px);
    display: flex;
    align-items: flex-end;
  }

  .now::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 29px;
    left: 50%;
    width: 1px;
    background-color: currentColor;
  }

  .footer {
    padding: 40px 0 16px 0;
  }

  .footer .container {
    width: auto;
  }

  .footer .container .social {
    margin-bottom: 24px;
  }

  .footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .one {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }

  .two {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }

  .three {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
  }

  .four {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
    -ms-grid-column-span: 5;
  }

  .five {
    -ms-grid-row: 5;
    -ms-grid-column: 9;
    -ms-grid-column-span: 3;
  }

  .six {
    -ms-grid-row: 3;
    -ms-grid-column: 11;
    -ms-grid-column-span: 3;
  }

  .seven {
    -ms-grid-row: 1;
    -ms-grid-column: 11;
    -ms-grid-column-span: 5;
  }
}

@media (min-width: 1025px) {
  h4 {
    margin-bottom: 28px;
  }

  .tablet-mob-el {
    display: none;
  }

  .desktop-el {
    display: block;
  }

  .section {
    margin-bottom: 96px;
  }

  .accent-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .menu {
    margin: 0 -24px;
  }

  .menu-item {
    margin: 0 24px;
  }

  .contact {
    width: 225px;
  }

  .contact-wrap {
    text-align: left;
    flex-direction: column;
  }

  .contact-wrap .social {
    width: 100%;
  }

  .cont-item {
    margin-right: 0;
    margin-bottom: 28px;
    flex: 0 0 auto;
  }

  .social-link {
    margin: 0;
    margin-right: 24px;
  }

  .social {
    width: 223px;
  }

  .main-section {
    margin-top: 80px;
    margin-bottom: 245px;
  }

  .main-section .video-container {
    max-width: 744px;
  }

  .img-decorate {
    display: block;
    z-index: 3;
    position: absolute;
  }

  ._left {
    left: -10px;
    top: 255px;
  }

  ._right {
    right: 10px;
    bottom: -50px;
    transform: rotate(135deg);
  }

  .about-us-photo {
    width: 360px;
    height: 360px;
  }

  .about-us-text {
    margin-top: 104px;
    margin-left: 120px;
  }

  .h2-arrows {
    top: 24px;
    width: calc(100% - 360px - 120px);
  }

  .tabs-nav {
    margin-bottom: 52px;
  }

  .tab-row {
    align-items: stretch;
  }

  .price-text {
    width: calc(27% - 24px);
  }

  .swiper-price-wrap {
    width: 73%;
  }

  .butns-pos {
    left: auto;
    transform: none;
    bottom: 32px;
    right: 32px;
  }

  .video-name {
    width: 65%;
    left: 32px;
    text-align: left;
    transform: none;
    font-size: 24px;
    bottom: 32px;
  }

  .need-other-format {
    flex-direction: row;
    align-items: center;
    margin-bottom: 104px;
  }

  .left-column {
    margin-bottom: 0px;
    margin-right: 32px;
  }

  .right-column .in-right-column .btn {
    margin-right: 8px;
  }

  .turnaround p:last-child {
    padding: 0 115px;
  }

  .list {
    margin-bottom: 76px;
  }

  .counter {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .counter-item {
    width: 25%;
  }

  .lets-start {
    margin-bottom: 192px;
  }

  .lets-start .img-wrap {
    display: block;
  }

  .lets-start-wrap .form-contact-wrap {
    flex-direction: row;
  }

  .lets-start-wrap h2 {
    width: 55%;
  }

  .form-container {
    width: 744px;
    margin: 0 24px 0 0;
  }

  .contact-info {
    width: 230px;
    flex-direction: column;
    position: static;
    margin-bottom: 32px;
  }

  .questions .container h2 {
    font-size: 44px;
  }

  .grid {
    -ms-grid-columns: (1fr)[12];
    grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "one one one one . . . . seven seven seven seven" ". two two two . . . six six six six ." ". . three three . . five five five . . ." ". . . . four four four four . . . .";
  }

  .one {
    margin-right: 0;
  }

  .two {
    margin-left: 20px;
    margin-right: -40px;
  }

  .three {
    margin-left: -30px;
  }

  .four {
    margin-left: -40px;
  }

  .five {
    margin-right: 30px;
  }

  .six {
    margin-right: 30px;
    margin-left: 0;
  }

  .seven {
    margin-left: -40px;
  }

  .one {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
  }

  .two {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
  }

  .three {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
  }

  .four {
    -ms-grid-row: 4;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
  }

  .five {
    -ms-grid-row: 3;
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
  }

  .six {
    -ms-grid-row: 2;
    -ms-grid-column: 8;
    -ms-grid-column-span: 4;
  }

  .seven {
    -ms-grid-row: 1;
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
  }
}

@media (min-width: 1200px) {
  .now {
    left: 26px;
  }
}

@media (max-width: 1082px) {
  .lets-start .img-wrap {
    display: none;
  }
}

@media (max-width: 1024px) {
  .right-column {
    max-width: 100%;
    width: 575px;
  }
}

@media (max-width: 767px) {
  .header .container {
    padding: 0 30px;
  }

  .header-content {
    visibility: hidden;
    position: absolute;
    top: 78px;
    left: 0;
    right: 0;
    height: calc(100vh - 78px);
    overflow-y: auto;
    background-color: #f0ede6;
    padding: 37px 20px 23px;
  }

  .header-nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 0;
  }

  .lock .header-nav {
    opacity: 1;
    transition: 1s opacity;
  }

  .header-nav .btn-link {
    flex: 0 0 40px;
    width: 197px;
    order: -1;
  }

  .menu-item a:hover {
    color: #4e4e4e;
  }

  .work-process .block:not(.month) {
    margin: 14px 0;
    justify-content: start;
  }

  .day:not(.desktop-el) {
    height: 63px;
    width: auto;
    display: flex;
    align-items: center;
  }
}